{% for class in classes %}
def edit_{{ class.snake_name }}(request, id):
    {{ class.snake_name }}_obj = {{ class.name }}.objects.get(pk=id)
    form = {{ class.name }}Form(request.POST or None, instance={{ class.snake_name }}_obj)
    if form.is_valid() and request.method == 'POST':
        form.save()
        return redirect('main:get_{{ class.snake_name }}')

    return render(request, 'edit_{{ class.snake_name }}.html', {'form': form})

{% endfor %}
