def landing_page(request):

    model_info = {}
    {% for kelas in classes -%}
    {% if kelas.get_is_public() -%}
    model_info[{{ kelas.get_name() }}] = {{ kelas.get_name().title() }}
    {%- endif %}
    {% endfor%}

    return render(request, 'landing_page.html', {'model_info': model_info})
