{% raw %}{% extends 'base.html' %}
{% load filter_tag %}
{% block content %}{% endraw %}
    <h1>{{ class_name }} List</h1>
    <table border="1">
        <thead>
            <tr>
            {% raw %}
            {% for field in fields %}
                <th>{{ field }}</th>
            {% endfor -%}
            {% endraw %}
            {% if has_edit -%}
                <th>Edit</th>
            {% endif -%}
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            {% raw %}{% for {% endraw %}{{ class_snake }}, {{ class_snake }}_dict in {{ class_snake }}_data{% raw %} %}{% endraw %}
            <tr>
            {% raw %}
            {% for field in fields %}
            {% endraw %}
                <td>{% raw %}{{{% endraw %} {{ class_snake }}_dict|get_item:field {% raw %}}}{% endraw %}</td>
            {% raw %}
            {% endfor -%}
            {% endraw %}
            {% if has_edit %}
                <td>
                    <a href="{% raw %}{%{% endraw %} url 'main:edit_{{class_snake}}' {{ class_snake }}.pk {% raw %}%}{% endraw %}">
                        <button>Edit</button>
                    </a>
                </td>
            {% endif %}
                <td>
                    <form action="{% raw %}{%{% endraw %} url 'main:delete_{{class_snake}}' {% raw %}%}{% endraw %}" method="POST">
                        {% raw %}{% csrf_token %}{% endraw %}
                        <input type="hidden" name="object_id" value="{% raw %}{{{% endraw %} {{ class_snake }}.id {% raw %}}}{% endraw %}">
                        <button type="submit">Delete</button>
                    </form>
                </td>
            </tr>
            {% raw %}{% empty %}{% endraw %}
            <tr>
                <td colspan="{% raw %}{{ fields|length|add:2 }}{% endraw %}">No {{ class_snake }}s to display.</td>
            </tr>
            {% raw %}{% endfor %}{% endraw %}
        </tbody>
    </table>
    <br>
    <a href="{% raw %}{%{% endraw %} url 'main:create_{{ class_snake }}' {% raw %}%}{% endraw %}">Create New {{ class_name }}</a>
{% raw %}{% endblock content %}{% endraw %}