<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ class_name }} List</title>
</head>
<body>
    <h1>{{ class_name }} List</h1>
    <table border="1">
        <thead>
            <tr>
            {% for field in fields -%}
                <th>{{ field.name }}</th>
            {% endfor -%}
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            {% raw %}{% for {% endraw %}{{ class_snake }} in {{ class_snake }}s{% raw %} %}{% endraw %}
            <tr>
            {% for field in fields -%}
                <td>{% raw %}{{{% endraw %} {{ class_snake }}.{{ field.name }} {% raw %}}}{% endraw %}</td>
            {% endfor -%}
                <td>
                    <a href="{% raw %}{%{% endraw %} url 'delete_{{ class_snake }}' {{ class_snake }}.id {% raw %}%}{% endraw %}">
                        <button type="button">Delete</button>
                    </a>
                </td>
            </tr>
            {% raw %}{% empty %}{% endraw %}
            <tr>

                <td colspan="3">No {{ class_snake }}s to display.</td>
            </tr>
            {% raw %}{% endfor %}{% endraw %}
        </tbody>
    </table>
    <br>
    <a href="{% raw %}{%{% endraw %} url 'create_{{ class_snake }}' {% raw %}%}{% endraw %}">Create New {{ class_name }}</a>
</body>
</html>
