package com.example.{{project_name}}.repository;

import com.example.{{project_name}}.model.{{class_name}};
import org.springframework.data.jpa.repository.JpaRepository;
import org.springframework.stereotype.Repository;

@Repository
public interface {{class_name}}Repository extends JpaRepository<{{class_name}}, String> {
    // You can add custom query methods for Cart if needed
}
