"""
This code is generated using MoTxT,
checkout more about us on https://motxt.ppl.cs.ui.ac.id
"""

from django.urls import path
from .views import (
    landing_page,
    {% for class in classes -%}
    {% if class.is_public -%}
    create_{{ class.snake_name }},
    get_{{ class.snake_name }},
    edit_{{ class.snake_name }},
    delete_{{ class.snake_name }},
    {% endif -%}
    {% endfor -%}
)

app_name = "main"

urlpatterns = [
    path('', landing_page , name="landing_page"),
    {%- for class in classes %}
    {%- if class.is_public %}
    path('create-{{ class.snake_name }}/', create_{{ class.snake_name }}, name="create_{{ class.snake_name }}"),
    path('get-all-{{ class.snake_name }}/', get_{{ class.snake_name }}, name="get_{{ class.snake_name }}"),
    path('edit-{{ class.snake_name }}/<int:id>/', edit_{{ class.snake_name }}, name="edit_{{ class.snake_name }}"),
    path('delete-{{ class.snake_name }}/', delete_{{ class.snake_name }}, name="delete_{{ class.snake_name }}"),
    {%- endif %}
    {%- endfor %}
]
